<ConditionMonitoring>
	<initID>

		<DB databank = ""/>

		<API qarc = ""
             qarclogin = ""
             email = ""
             password = ""/>

		<Dstate datamode = ".\CSV\mode.csv"
                dataisdisturbed = ".\CSV\isdisturbed.csv"
                dataaxismoving =  ".\CSV\isanyaxismoving.csv"/>

        <Drec alarmerec = ".\alarmerecdateien\"/>


	</initID>
</ConditionMonitoring>