<ConditionMonitoring>
	<initID>

        <Dstate datamode = ".\CSV\mode.csv"
                dataisdisturbed = ".\CSV\isdisturbed.csv"
                dataaxismoving =  ".\CSV\isanyaxismoving.csv"/>

        <Drec alarmerec = ".\alarmerecdateien"/>

        <Dlog stoplog = ".\StopLog" />

        <elasticsearch elastichost = "localhost"
                       elasticport = "9200"
                       elasticurl = "http://localhost:9200"/>

        <kibana kibanaurl = "http://localhost:5601"
                selectedspace = "alarms"/>

	</initID>
</ConditionMonitoring>