<ConditionMonitoring>
	<initID>

		<DB databank = "postgresql://gnet:xepUxp8dQjJa4FN_CwME@gn15.grob.local:5432/gnetmachinedata"/>

		<API qarc = "https://qarc.cloud4machine.com"
             qarclogin = "https://qarc.cloud4machine.com/cred/auth/enduser/login"
             email = "simon.leiner@grob.de"
             password = "grob_sL4568"/>

		<Dstate datamode = ".\CSV\mode.csv"
                dataisdisturbed = ".\CSV\isdisturbed.csv"
                dataaxismoving =  ".\CSV\isanyaxismoving.csv"/>

        <Drec alarmerec = ".\alarmerecdateien\"/>

		<Dlog stoplog = ".\StopLog" />

		<MQTT broker_url = "qarc-mqtt.cloud4machine.com" broker_port = "8883"

        ca_cert = ".\Certs\cumulative-qarc-ca.crt"
        client_cert = ".\Certs\grob-qarc-leiner-1.crt"
        client_key = ".\Certs\grob-qarc-leiner-1.key"/>

	</initID>
</ConditionMonitoring>